/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<ШРИФТЫ>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
	@font-face {
		font-family: 'Conv_brandon-grotesque-bold-italic';
		src: url('../fonts/brandon-grotesque-bold-italic-58a8a48221563.eot');
		src: local('☺'), url('../fonts/brandon-grotesque-bold-italic-58a8a48221563.woff') format('woff'), url('../fonts/brandon-grotesque-bold-italic-58a8a48221563.ttf') format('truetype'), url('../fonts/brandon-grotesque-bold-italic-58a8a48221563.svg') format('svg');
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: 'Conv_brandon-grotesque-light-italic';
		src: url('../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.eot');
		src: local('☺'), url('../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff'), url('../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.ttf') format('truetype'), url('../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.svg') format('svg');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'Conv_brandon-grotesque-medium-italic';
		src: url('../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.eot');
		src: local('☺'), url('../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.woff') format('woff'), url('../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.ttf') format('truetype'), url('../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.svg') format('svg');
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'Conv_brandon-grotesque-regular-italic';
		src: url('../fonts/brandon-grotesque-regular-italic-58a8a456c4724.eot');
		src: local('☺'), url('../fonts/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff'), url('../fonts/brandon-grotesque-regular-italic-58a8a456c4724.ttf') format('truetype'), url('../fonts/brandon-grotesque-regular-italic-58a8a456c4724.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<ШРИФТЫ>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */